@font-face {
  font-family: 'easta_mid';
  src: url('./fonts/EASTARJET-Medium.ttf')
}

@font-face {
  font-family: 'easta_light';
  src: url('./fonts/EASTARJET-DemiLight.ttf')
}
@font-face {
  font-family: 'easta_heavy';
  src: url('./fonts/EASTARJET-Heavy.ttf')
}
